html {
    background-color: grey;
}

input {
    width: 120px
}

.redBackground {
    background-color: red

}
#monthlyCosts {
    float: right;
}

#center {
    text-align: center;
}

h6 {
    display: inline-block;
}